{
	email jkr070@uit.no
	key_type rsa4096

}

(common) {
	tls {
		protocols tls1.3
		curves x25519
	}

	request_body {
        max_size 2MB
	}

	header {
		Strict-Transport-Security "max-age=63072000; includeSubDomains"
		-server
	}

	encode zstd gzip
}

uithack-2.td.org.uit.no:8001 {
	import common

	reverse_proxy http://big_picture:8080
}

uithack-2.td.org.uit.no:8002 {
	import common

	reverse_proxy http://marketplace:8002
}


uithack-2.td.org.uit.no:8005 {
	import common

	reverse_proxy http://cyber_pirate:8005
}



uithack-2.td.org.uit.no:8006 {
	import common

	reverse_proxy http://cyber_pirate:8006
}
