{
	email jkr070@uit.no
	key_type rsa4096
}

(common) {
	tls {
		protocols tls1.3
		curves x25519
	}

	request_body {
		max_size 2MB
	}

	header {
		Strict-Transport-Security "max-age=63072000; includeSubDomains"
		-server
	}

	encode zstd gzip
}

http://uithack-2.td.org.uit.no:5005 {
	@forbiddenPath path_regexp flag.*
	respond @forbiddenPath "You think you can just waltz in here and grab the flag? Think again.\n" 403

	@correct_path {
		path /c2850b16-2c58-b061-c285-0b162c58b061
	}

	@correct_path_and_agent {
		path /c2850b16-2c58-b061-c285-0b162c58b061
		header User-Agent "hackerman/1.0"
	}

	respond @correct_path 403

	handle @correct_path_and_agent {
		respond 200 {
			body "UiTHack25{S3cur1ty_Thr0ugh_0bscur1tee}"
		}
	}

	respond 404
}

uithack-2.td.org.uit.no:8001 {
	import common

	reverse_proxy http://big_picture:8080
}

uithack-2.td.org.uit.no:8002 {
	import common

	reverse_proxy http://marketplace:8002
}

uithack-2.td.org.uit.no:8004 {
	import common

	reverse_proxy http://bleeding_heart:8080
}

uithack-2.td.org.uit.no:8005 {
	import common

	handle /api/* {
		reverse_proxy http://cyber_pirate_backend:8080
	}
	handle {
		reverse_proxy http://cyber_pirate_frontend:3000
	}
}

uithack-2.td.org.uit.no:8010 {
	import common

	reverse_proxy http://cross_eyed:8000
}

uithack-2.td.org.uit.no:9003 {
	import common

	reverse_proxy http://cyborg:80
}

uithack-2.td.org.uit.no {
	import common

	handle_path /hope-nobody-guesses-this/* {
		reverse_proxy http://dinosaur_tech:3000
	}
	@resources {
		path *.css *.js *.woff2 favicon.ico
	}
	handle @resources {
		reverse_proxy http://dinosaur_tech:3000
	}
}
